<div class="view">
<div class="banner">
    <img class="garden" src="http://meganfranco.com/dots_shop_images/Garden.JPG">
    <img class="garden" src="http://meganfranco.com/dots_shop_images/Garden.JPG">
    <img class="garden" src="http://meganfranco.com/dots_shop_images/Garden.JPG">
    <img class="garden" src="http://meganfranco.com/dots_shop_images/Garden.JPG">
</div>
<h4>
    Welcome to Dot's Shop, where we specialize in creating beautiful handmade quilts, baby-blankets, toddler's dresses, and seasonal specialties. Please feel free to browse <a href="#/products">our products</a> or get to know <a href="#/about">our makers</a>
    </h4>

</div>