<!DOCTYPE html>
<html lang="en" ng-app="dogApp">

<head>
    <meta charset="UTF-8">
    <title>Full Stack Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body ng-controller="DogController" class="container">
    <div class="row">
        <div class="form-group col-md-4">
            <input class="form-control" type="text" ng-model="filter.name" placeholder="Type in a name">
<!--            <button class="btn btn-primary" ng-click="filterByBreed(params)">Filter</button>-->
        </div>

        <div class="form-group col-md-4">
            <input class="form-control" type="text" ng-model="filter.breed" placeholder="Type in a breed">
<!--            <button class="btn btn-primary" ng-click="filterByBreed(params)">Filter</button>-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div ng-repeat="dog in dogService.dogList | filter: filter">
                <h1>{{ dog.name }}</h1>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="app.js"></script>
</body>

</html>