<!--http://coursework.vschool.io/exercise-professional-services/
https://scotch.io/tutorials/angularjs-form-validation
https://scotch.io/tutorials/angularjs-form-validation-with-ngmessages-->

<!DOCTYPE html>

<html ng-app="MyLittleBronyApp">

<head>
    <title> </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower|Fredoka+One|Patua+One' rel='stylesheet' type='text/css'>
    <script src="https://use.fontawesome.com/6f4a7d5318.js"></script>
    <link rel="stylesheet" href="styles.css" />

    <meta charset="=utf-8">
</head>

<body ng-controller="MainController">

    <!-- ----------------TOP------------------ -->
    <header>
        <h1>Welcome To Brosky's Pony Page</h1></header>


    <div class="intro">
        <h3>THE collection of ponies on the internet </h3>
        <p>This is a page where I like to collect all the best ponies. Feel free to add your favorite new ponies, just make sure you leave your user name! </p>
        <p>
            <button class="btn" ng-click="form.editing = !form.editing" ng-hide="form.editing">Click here to add you're favorite pony!</button>
        </p>
    </div>

    <!--    -------------FORM---------------     -->
    <form name="userForm" ng-show="form.editing" ng-hide="!form.editing" novalidate>
        <h4>Enter A Pony</h4>
        <div class="form-group">
            <label>Pony Name</label>
            <br>
            <input class="form-control" name="name" type="text" ng-model="pony.name" ng-minlength="3" required>
            <p ng-show="userForm.name.$invalid && userForm.name.$touched"  class="help-block">A name for your pony is required.</p>
        </div>

        <div class="form-group">
            <label>Your Username </label>
            <br>
            <input class="form-control" name="username" type="text" ng-model="pony.username" required>
            <p ng-show="userForm.username.$invalid && userForm.username.$touched"  class="help-block">A username is required.</p>
            
        </div>

        <div class="form-group">
            <label>Image</label>
            <br>
            <input class="form-control" name="image" type="text" ng-model="pony.imgUrl" placeholder="enter a url" required>
             <p ng-show="userForm.image.$invalid && userForm.image.$touched" class="help-block">Please enter an image url.</p>
        </div>


        <button type="submit" class="btn submit-btn" ng-click="addPony(pony); userform.clicked" ng-disabled="userForm.$invalid">Enter Your Favorite Pony </button>
    </form>


    <!--    ------------- Ponies ---------------     -->
    <h3 class="show-ponies" ng-show="!show.editing" ng-hide="show.editing">Get A Current List of Favorite Ponies <button class="btn" ng-click="showPonies(); show.editing = !show.editing">Here</button></h3>
    <div class="container ponies">
        <div class="pony-list row col-md-6" ng-repeat="pony in favoritePonies track by $index">
            <div class="row col-md-6">
                <!--           name     -->
                <span class="ponyTitle"><h4>{{ pony.name }}</h4></span>
                <input ng-show="pony.editing" ng-hide="!pony.editing" placeholder="Name" ng-model="pony.name">
                <!--            image    -->
                <img ng-src="{{pony.imgUrl}}">
                <input ng-show="pony.editing" ng-hide="!pony.editing" placeholder="Name" ng-model="pony.imgUrl">
                <!--            user      -->
                <h6>From {{pony.username}}</h6>
                <input ng-show="pony.editing" ng-hide="!pony.editing" placeholder="Name" ng-model="pony.username">

                <button class="btn" ng-click="deletePony(pony)">delete</button>
                <button class="btn" ng-click="pony.editing = !pony.editing" ng-hide="pony.editing"> edit</button>
                <button class="btn" ng-show="pony.editing" ng-click="editPony(pony, $index)">update</button>

            </div>
        </div>
    </div>


    <!--bottom-->
    <footer class="containter">
        <div class="row">
            <div class="col-md-5"> </div>
            <div class="col-md-5"> </div>
            <div class="col-md-2">
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-tumblr-square" aria-hidden="true"></i>
            </div>

        </div>
    </footer>


    <!--      ------------SCRIPTS--------------        -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>-->
    <script src="app.js"></script>
    <script src="services.js"></script>

</body>

</html>