/****COLORS******
original scheme: https://color.adobe.com/Green-Dark-Blue-color-theme-3854662/
White: #FFFFFF
Gray: #AEAEAE
Green: #B6D051
Pink: #E64C66
Navy: #2D3E50
Teal: #1BBC9B
*/

body {
    /*    position: relative;*/
    margin-bottom: 74px;
}

.product-image {
    /*      rotate    */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    /*    size     */
    height: 200px;
    width: 250px;
    padding: 5px;
    border-radius: 5px;
}

a:link {
    text-decoration: none;
    color: inherit;
}


/*-----------------NAVBAR-------------------*/

.container {
    width: 100%
}

/*
navigation {
    width: 100%;
}
*/

ul.navbar {
    list-style-type: none;
    padding-left: none;
    padding-top: 10px;
    border: 1px solid black;
    background-color: #2D3E50;
/*    height: 30px;*/
}

li,
h3 {
    display: inline;
    color: #E64C66;
}

h3 {
    margin-left: 25%;
    margin-bottom: 15px;
}

li.navlink {
    /*    display: block;*/
    padding: 7px;
    margin-top: 10px;
    text-decoration: none;
    color: #1BBC9B;
}

li.navlink:hover {
    background-color: rgba(138, 136, 137, 0.7);
    border-radius: 2px;
    /*    text-decoration: none;*/
    text-decoration: inherit;
    text-decoration-color: #252222;
    height: inherit;
}

li:hover {
    text-decoration: inherit;
}


/* --footer-- */

footer {
/* size of footer   */ 
/*    height: 45px;*/
    background-color: #2D3E50;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-top: 15px;
    
/* Font color, size, etc.   */
    color: #1BBC9B;
    font-size: small;
    text-align: left
    
}

.footer-links {
    text-decoration: none;
    color: #1BBC9B;
    
    
}

.footer-div {
    padding: 10px 0px;
    margin-left: 45px;
}

.footer-links:hover, .footer-links:focus {
    color: #1BBC9B;
    font-weight: 700;
}


ngcart-summary{
    display: inline-block;
}


/*--------------------Views-------------------*/

.view {
    width: 97%;
    margin: 0 auto;
    color: #2D3E50;
}


/*---------------Home---------------*/

.garden {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    max-width: 100%;
    max-height: 100%;
}

.banner {
    width: 100%;
    height: 250px;
    position:relative;
    background:   url("http://meganfranco.com/dots_shop_images/pinkQuilt_Sandy.JPG")no-repeat;
    background-size: cover;
    background-position: center;
}

.home-links {
    color: #1BBC9B;
}

.home-links:hover {
    color: #E64C66;
}

.welcome-blurb {
    margin-top: 35px;
}


/*---------------About---------------*/

h2 {
    text-align: center;
}

.meet-title{
    margin-bottom: 35px;
}

.about {
    width: 55%;
}

.products-list {
    margin-top: 95px;
}

.about-maker {
    margin-left: 70px;
    margin-bottom: 40px;
}

.about-maker > h4:hover {
    font-weight: 600;
    color: #E64C66;
}

span {
    font-style: italic;
    margin-top: 5px;
}

span:hover {
    color: #E64C66
}

.product-display {
    height: 450px;
    border: 3px solid #1BBC9B;
    background-color: rgba(138, 136, 137, 0.2);
    border-radius: 15px;
}


/*---------------Products---------------*/


/*http://inspirationalpixels.com/tutorials/creating-a-dropdown-menu-with-html-css*/

.view-products {
    display: inline-block;
}

img {}

.products-page {
    width: 75%;
    margin: 0px auto;
    color: #2D3E50
}

h5 {
    margin-bottom: 45px;
}

.made-by {
    padding-top: 45px;
}


/*dropdown*/

.product-button {
    width: 73px;
    border: none;
    background-color: #2D3E50;
    color: #1BBC9B;
}

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2D3E50;
    /*    min-width: 160px;*/
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


/* Links inside the dropdown */

.dropdown-content a {
    color: #1BBC9B;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: rgba(138, 136, 137, 0.7)
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 3;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.checkout {
    margin: 40px;
    padding-bottom: 25px;
}


/*---------------Cart---------------*/

ngcart-cart {}

.browse-link {
    padding-top: 45px;
}

svg.icon,
ngcart-summary {
    color: #1BBC9B;
}


/*---------------Media Sizing---------------*/

@media (max-width: 1000px) {
    .product-image {
        height: 150px;
        width: 200px;
/*        margin-top: 120px;*/
        
    }
}

@media (max-width: 775px) {
    .products-list {
        width: 45%;
    }
}

@media (max-width: 700px) {
    body {
        margin-bottom: 150px;
    }
    .about {
        width: 95%;
    }
}

@media (max-width: 600px) {
    .products-list {
        width: 75%;
    }
}




