body {
    /*    background-color: #2A3050;*/
    font-family: 'Raleway', sans-serif;
}

div.item {
    height: 400px;
    /*    margin-bottom: 200px;*/
    /*    margin-top: -200px;*/
}

.page {
    margin: 0px auto;
    width: 98%;
    color: #474747
}

h2 {
    text-align: center;
}


/*------NAV BAR-------*/


/*COLOR SCHEMES: Grey: #474747 Navy: #2A3050 Mauve: #A23B56 Yellow: #FAAE21 LBlue: #87D0C6 */

nav.navbar.navbar-default {
    background-color: #2A3050;
    color: white;
    border-radius: 0px;
    border: 1px solid #2A3050
}

.zen {
    color: white
}

.navRight {
    background-color: #2A3050;
}

.navbar-default .navbar-nav>li>a,
a.navbar-brand.zen,
a.navbar-brand.zen:visited,
li.active {
    color: ghostwhite;
}

.navbar-default .navbar-nav>li>a:visited,
a.navbar-brand.zen:visited,
a.navbar-brand.zen:visited,
li.active:visited {
    background-color: #2A3050;
    color: white;
}

.navbar-default .navbar-nav>li>a:hover,
a.navbar-brand.zen:hover,
li.active:hover,
.nav>li:hover,
a.navRight:hover {
    background-color: #FAAE21;
    color: #2A3050;
    font-weight: 900;
}


/*---------WELCOME PAGE----------*/


/*  Grey: #474747 Navy: #2A3050 Mauve: #A23B56 Yellow: #FAAE21 LBlue: #87D0C6  */

.welcome {
    background-color:
}

.welcome-title {
    height: 200px;
    padding-top: 70px;
    text-align: center;
    font-size: medium;
}

.makePink {
    color: #A23B56
}

.makePink:hover {
    text-decoration: none;
    color: #A23B56;
    font-weight: 900;
}


/*---------TRACKER----------*/

.addButtons {
    margin-bottom: 25px;
    margin-top: 25px
}

.addItem {
    border-radius: 2px;
    /*    width: 7px;*/
    /*    height: 10px;*/
    font-size: large;
    background-color: #2A3050;
    color: whitesmoke;
    border-radius: 5px;
    box-shadow: none;
    border: 3px solid #2A3050;
}

.addItem:hover {
    font-size: x-large;
}

.well {
    border: 1.5px solid #2A3050;
    background-color: rgba(42, 48, 80, 0.1);
}

.submit-button {
    margin-top: 15px;
    background-color: #2A3050;
    color: whitesmoke;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #2A3050;
}

#score {
    position: absolute;
    right: 0;
    left: 0;
    height: 200px;
    margin-bottom: 20px;
}

.score {
    text-align: center;
    font-size: xx-large;
}

.center-score {
    width: 75%;
    margin: 0px auto;
    border: 3px solid #2A3050;
    border-radius: 5px;
    background-color: rgba(42, 48, 80, 0.1);
}

.list {
    text-align: center;
}

.list-header {
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 900;
    text-decoration: underline;
}

.list-item {
    margin-top: 30px;
    font-size: large;
    /*    text-align: center;  */
}

.accomplishment {
    font-weight: 600;
}

.delete {
    margin-bottom: 30px;
    margin-top: 15px;
    background-color: #2A3050;
    color: whitesmoke;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #2A3050;
}


/*--------ZEN ROOM----------*/

#playDiv {
    margin-top: 25px;
    color: #FAAE21;
    margin-left: 30%;
    display: inline-flex;
    width: 45%;
    border: 3px solid #2A3050;
    font-weight: 600;
    padding-left: 55px;
    background-color: rgba(42, 48, 80, 0.7);
    border-radius: 5px;
}


/*Tanners css*/


/*
element.style {
    border: 2px solid yellow;
    background-color: black;
    opacity: .5;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    border-radius: 10px;
    color: white;
*/

#zen-title {
    font-weight: 600;
    color: #2A3050;
    margin-top: 10px;
}

#play-icon {
    color: #FAAE21;
}

.play_border {
    color: #FAAE21
}

#playPara {
    padding-top: 4px;
    text-align: center
}

.carousel {
    /*    position: absolute;*/
    right: 0;
    left: 0;
    margin-right: -15px;
    margin-left: -15px;
}


/* paralax attempt   */

.zen-room {
    margin-top: -20px;
}

#zen-content {
    /*IMAGE MANAGEMENT*/
    background-image: url(https://pixabay.com/static/uploads/photo/2016/06/03/13/17/field-of-rapeseeds-1433380_960_720.jpg);
    height: 200px;
    background-attachment: fixed;
    /*fixes the div to this position*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*Stylings*/
}

#meditations {
    /*IMAGES MANGEMENT*/
    background-image: url(https://pixabay.com/static/uploads/photo/2016/07/08/12/19/mountain-1504197_960_720.jpg);
    height: 850px;
    margin-top: -20px;
    background-attachment: fixed;
    /*fixes the div to this position*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*Stylings*/
    text-align: center;
}


/*Stylings*/

.section-content {
    padding-top: 45px;
}

.content-content {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    border: 3px solid #2A3050;
    font-weight: 600;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    background-color: rgba(42, 48, 80, 0.7);
    border-radius: 5px;
    color: #FAAE21;
}

.metta-list {
    text-align: left;
}

a.med-links {
    color: white;
}

a.med-links:hover {
    font-weight: 700;
    text-decoration: none;
}

a.med-links:visited {
    color: white;
}

.section-care {
    padding-top: 70px;
}

#care {
    /*IMAGES MANAGEMENT*/
    background-image: url(https://pixabay.com/static/uploads/photo/2016/05/04/19/39/stones-1372677_960_720.jpg);
    height: 550px;
    background-attachment: fixed;
    /*fixes the div to this position*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*    margin-bottom: 70px;*/
}

#care-content {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    border: 3px solid #2A3050;
    font-weight: 600;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    background-color: rgba(42, 48, 80, 0.7);
    border-radius: 5px;
    color: #FAAE21;
    position: relative;
}

.bottom {
    background-image: url();
    height: 70px;
    background-attachment: fixed;
    /*fixes the div to this position*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* ADD RESPONSIVENESS */

@media (max-width: 1000px) {
    #meditations {
        /*IMAGES MANGEMENT*/
        background-image: url(https://pixabay.com/static/uploads/photo/2016/07/08/12/19/mountain-1504197_960_720.jpg);
        height: 800px;
        margin-top: -20px;
        background-attachment: fixed;
        /*fixes the div to this position*/
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        /*Stylings*/
        text-align: center;
    }
    .content-content {
        width: 75%;
        margin-left: 15%;
    }
}

@media (max-width: 700px) {
    #meditations {
        /*IMAGES MANGEMENT*/
        background-image: url(https://pixabay.com/static/uploads/photo/2016/07/08/12/19/mountain-1504197_960_720.jpg);
        /*        height: 85@media (max-width: 1000px) {
    #meditations {
        /*IMAGES MANGEMENT*/
        background-image: url(https://pixabay.com/static/uploads/photo/2016/07/08/12/19/mountain-1504197_960_720.jpg);
        height: 950px;
        margin-top: -20px;
        background-attachment: fixed;
        /*fixes the div to this position*/
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        /*Stylings*/
        text-align: center;
    }
    .content-content {
        width: 75%;
        margin-left: 15%;
    }
}

@media (max-width: 600px) {
    #carousel-example-generic {
        display: none;
    }
    
    div#playDiv{
        padding-left: 10px;
    }
    
    #meditations {
        /*IMAGES MANGEMENT*/
        background-image: url(https://pixabay.com/static/uploads/photo/2016/07/08/12/19/mountain-1504197_960_720.jpg);
        /*        height: 85@media (max-width: 1000px) {
    #meditations {
        /*IMAGES MANGEMENT*/
        background-image: url(https://pixabay.com/static/uploads/photo/2016/07/08/12/19/mountain-1504197_960_720.jpg);
        height: 950px;
        margin-top: -20px;
        background-attachment: fixed;
        /*fixes the div to this position*/
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        /*Stylings*/
        text-align: center;
    }
    .content-content {
        width: 85%;
        margin-left: 10%;
        padding-left: 10px;
        padding-right: 10px;
    }
    #care-content {
        padding-left: 10px;
        padding-right: 10px;
    }
}