<!DOCTYPE html>

<html ng-app="BountyHunterApp">
    <head> 
        <title> </title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="styles.css"/>
        <meta charset="=utf-8">
    </head>
    <body style="margin-left: 20px;" ng-controller="MainController"> 
        <h3>enter item for bounty</h3>
        <form>
            <label>First Name</label>
            <input type=text ng-model="bounty.firstName"><br>
            
            <label>Last Name</label>
            <input type=text ng-model="bounty.lastName"> <br>
            
            <label>Living?</label>
            <input type=text placeholder="true or false" ng-model="bounty.living"> <br>
            
            <label>Sith or Jedi?</label>
            <input type=text ng-model="bounty.type" placeholder="Sith or Jedi?"> <br>
            
            <label>Price</label>
            <input type=number ng-model="bounty.bountyAmount"> <br>
            
            <button ng-click="addToBounty(bounty)">Add to Bounty List </button>
            <button ng-click="getList()">Get List of Targets</button>
            
        </form>
    
<!--    //////////DISPLAY//////////// -->
<!--    bounty in bountyService.bounties -->
        <div ng-repeat="bounty in bountyService.bounties">
            <h4>{{ bounty.firstName }} {{ bounty.lastName }}</h4>
            <h5>{{ bounty.type }}, reward: {{ bounty.bountyAmount | currency  }}</h5>
            <button ng-click="deleteTarget(bounty)">delete</button>
        </div>   
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="app.js"></script> 
<!--    <script src="server.js"></script> -->
    </body>
</html>