<!DOCTYPE html>

<html ng-app="BountyHunterApp">
    <head> 
        <title> </title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href=""/>
        <meta charset="=utf-8">
    </head>
    <body ng-controller=MainController> 
        <h3>enter item for bounty</h3>
        <form>
            <label>First Name</label><br>
            <input type=text ng-model="bounty.">
            
            <label>Last Name</label><br>
            <input type=text ng-model="bounty.">
            
            <label>Living?</label><br>
            <input type=text ng-model="bounty.">
            
            <label>Sith or Jedi?</label><br>
            <input type=text ng-model="bounty.">
            
        </form>
    
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="app.js"></script> 
    <script src="server.js"></script> 
    </body>
</html>