<div class="tracker">
    <h2>Fail Tracker</h2>
    <!--  Add   -->
    <div class="fail-form">
        <form class="well container" name="detailsForm" novalidate>
            <h3>Add A New Failure</h3>
            <div class="col-md-8 col-md-offset-2 form-group">
                <label class="labels" for="title">Failure:</label>
                <input type="text" class="form-control" name="failure" ng-model="fail.title" required>
            </div>
            <div class="col-md-8 col-md-offset-2 form-group">
                <label class="labels" for="description">Details:</label>
                <input type="text" class="form-control" name="description" ng-model="fail.description" required>
            </div>
            <button ng-click="addFailure()">Submit</button>
        </form>
    </div>
    <!--  List  -->
    <div class="failList">
        <h3>Failures</h3>
        <div ng-repeat="fail in failures">
            <div>
                <p>{{ fail.title }}</p>
                <p>{{ fail.description }} </p>
                <p> {{ fail.date }}</p>
            </div>
        </div>
    </div>
</div>