/*COLORS
white: #FFFFFF
Dark: #252222
#8A8889
#C9C9C9
#E1DFE0
*/

body {
    width: 100%;
}

section {
    margin: 0px;
    padding: 0px;
    width 100%;
    align-content: center;
}


/*-------------NAV BAR----------------*/

.navigation {
    width: inherit;
    
    
}

ul.navbar {
    list-style-type: none;
    padding-left: none;
    padding-top: 10px;
    border: 1px solid black;
    background-color: #E1DFE0;
    /*height: 30px;*/
}

li,
h3 {
    display: inline;
}

h3 {
    margin-left: 55%;
    margin-bottom: 15px;
}

li.navlink {
    /*    display: block;*/
    padding: 7px;
    margin-top: 10px;
    text-decoration: none;
    color: #252222;
    
}

li.navlink:hover{
    background-color: rgba(138, 136, 137, 0.7);
    border-radius: 2px;
/*    text-decoration: none;*/
    text-decoration: inherit;
    text-decoration-color: #252222;
    height:inherit;
}

li:hover{
    text-decoration: inherit;
}


/*------------CONTENT--------------*/

header {
/*    height: 150px;*/
    /*    text-align: center;*/
    padding: 30px;
    background-color: rgba(138, 136, 137, 0.7);
    /*    opacity: .6;*/
    margin-top: 35px;
    width: 98%;
    margin: 0 auto;
    border-radius: 10px;
    color: #C9C9C9;
}

.profile-photo {
    /*    margin-top: px;*/
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
    z-index: -1;
    opacity: 1;
}


/*--------PROJECTS-----------------*/

h2 {
    margin-top: 40px;
    text-align: center;
    color: #C9C9C9;
}

h2#projects:hover {
    text-decoration: none;
}

.projects {
    /*    height: 500px;*/
    background-color: rgba(138, 136, 137, 0.7);
    margin-top: 20px;
    /*    opacity: .6;*/
    color: black;
    width: 95%;
/*    margin: 0 auto;*/
    text-align: center;
    align-content: center;
    padding-bottom: 20px;
    color: #E1DFE0;
    width: 100%;
    border-radius: 10px;
    font-size: medium;
}

.proj-title {
    padding: 15px 0px;
    font-size: large;
    font-weight: 600;
    text-decoration: underline;
    color: #E1DFE0;
}



img.project-image {
    height: 175px;
    width: 175px;
}

img.project-image:hover {
    height: 225px;
    width: 225px;
}


/*----------BADGES-------------*/

div.col-md-12 {
    width: inherit;
}

.badge-header {
    color: #E1DFE0;
    font-size: xx-large;
    text-align: center
}

.badges {
    margin-top: 25px;
    background-color: rgba(37,34,34, 0.8);
    width: 98%;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 10px;
    padding: 20px;
}

.badge-titles {
    color: #E1DFE0;
    text-align: left;
    font-size: x-large;
    text-decoration: underline;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 5px
}

.badge-icon {
    text-align: center;
    height: 50px;
    width: 50px;
}

.img-title {
    font-size: large;
    color: #E1DFE0;
}

.blurb {
    width: 98%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
    padding: 7px;
    background-color: rgba(225, 223, 224, .4);
    color: #252222;
    font-size: medium;
}

.python-imgs {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}


/*-----------------BOTTOM----------------*/

div#contact.bottom-banner.container {
    padding: 0px;
    width: 100%;
}

.bottom-banner,footer {
    width: 100%;
    text-align: center;
    margin-right: 5px;
/*    padding-top: 30px;*/
}

footer {
/*    height: 15px;*/
    background-color: #E1DFE0;
    margin-top: 25px;
    padding-top: 5px;
    width: 100%
}

.contact-info{
    font-size: small;
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
}


i.fa {
    font-size: x-large;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
    color: rgba(37,34,34, 0.8);
}

i.fa:hover{
    font-size: xx-large;
}
/*----------OTHERS-------------*/

section.container.module.parallax.parallax-1 {
    margin-left: 10px;
    padding: 0px;
    
}

.test-columns {
/*    margin-top: 30px;*/
    width: 98.5%;
    margin: 0 auto;
/*    padding: 10px;*/
}

section.module.parallax {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section.module.parallax-1 {
    /*  background-image: url("http://www.intrawallpaper.com/static/images/White-Background-BD1.png");*/
    background-image: url(./images/saltFlats_bw.jpg)
}


/*http://callmenick.com/post/simple-parallax-scrolling-effect --you'll need to media-query for ios
http://keithclark.co.uk/articles/pure-css-parallax-websites/
https://davidwalsh.name/parallax

https://www.google.com/search?q=background+images&espv=2&biw=1050&bih=630&tbm=isch&imgil=fqHqWaVVWsxqYM%253A%253Bq_w-hQJxHSaLLM%253Bhttp%25253A%25252F%25252Fstackoverflow.com%25252Fquestions%25252F35511584%25252Fcss-background-image-overlay&source=iu&pf=m&fir=fqHqWaVVWsxqYM%253A%252Cq_w-hQJxHSaLLM%252C_&usg=__qS6vFO-KKxMTNjMbeLJsiskZcFs%3D&dpr=2&ved=0ahUKEwiRqvTnqozNAhVVzWMKHS1cA4MQyjcINQ&ei=8bdRV9HtD9WajwOtuI2YCA#imgrc=1Bzu3_nmkZxTuM%3A
*/