<!--http://www.cssportal.com/blog/rotating-images-with-css/-->
<!--https://dzone.com/articles/multiple-columns-filling-in-bootstrap-using-angula   [?]-->

<section class="products-page">
    <!--///////////PAGE HEADER////////////-->
    <div class="view products container">
        <div class="row">
            <div class="col-md-9">
                <h2>Our Products</h2>
            </div>

            <!-- /////////////// DROP DOWNS ///////////////-->
            <div class="col-md-3">
                <div class="dropdown">
                    <button class="product-button">Artists</button>
                    <div class="dropdown-content">
                        <a ng-click="filterProduct('maker', 'Brada')" ng-model="filter.name">Brada</a>
                        <a ng-click="filterProduct('maker', 'Dorothy')" ng-model="filter.name">Dorothy</a>
                        <a ng-click="filterProduct('maker', 'Sandy')" ng-model="filter.name">Sandy</a>
                        <a ng-click="filterProduct('', '')" ng-model="filter.name">All</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="product-button">Products</button>
                    <div class="dropdown-content">
                        <a ng-click="filterProduct('type', 'quilt')" ng-model="filter.product">quilts</a>
                        <a ng-click="filterProduct('type', 'dress')" ng-model="filter.product">dresses</a>
                        <a ng-click="filterProduct('type', 'blanket')" ng-model="filter.product">blankets</a>
                        <a ng-click="filterProduct('', '')" ng-model="filter.product">All</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--   ////////////////    PRODUCTS    //////////////-->
    <!--http://ngcart.snapjay.com/-->
    <div class="container products-list">
        <div class="row">
            <!--       https://docs.angularjs.org/error/filter/notarray -->
            <div ng-repeat="product in productService.productsList track by $index" | filter>
                <!--            <div ng-repeat="product in productService.productsList track by $index">-->
                <div class="col-sm-4 product-display">
                    <h5>{{ product.name }}</h5>
                    <img ng-src="{{ product.image }}" class="product-image">
                    <p class="made-by">Made By: {{ product.maker }}</p>
                    <p>Price: {{ product.price | currency }}</p>
                    <ngcart-addtocart id="{{ product._id }}" name="{{ product.name }}" price="{{ product.price }}" data="product" quantity="1" quantity-max="{{ product.quantity }}">add to cart</ngcart-addtocart>

                    <!-- NEED TO REIVEW DIRECTIVES
                 <ngcart-addtocart id="{{ product.id }}" name="{{ product.name }}" price="{{ product.price }}" quantity="1" quantity-max="30" data="product"></ngcart-addtocart>
                 -->
                </div>
            </div>
        </div>
    </div>

    <div class="checkout">
        <!--       change views on ng-click to cart -->

        <a href="#/cart">
            <button class="btn btn-sm btn-primary">Go To Check Out</button>
        </a>
        <!--   make "checkout view + controller AND ROUTE and server endpoint?"     -->
    </div>
</section>


<!-- *********SHOPPING CART LINKS*********
  http://ngcart.snapjay.com/docs
  https://github.com/snapjay/ngCart
-->


<!--
http://meganfranco.com/dots_shop_images/fallQuilt_Dot.JPG
http://meganfranco.com/dots_shop_images/Garden.JPG
http://meganfranco.com/dots_shop_images/eleanorInBlanket.JPG
http://meganfranco.com/dots_shop_images/giveThanks_embroidery.jpg
http://meganfranco.com/dots_shop_images/largeQuilt_sandy.jpeg
http://meganfranco.com/dots_shop_images/paisleyDress_dress.JPG
http://meganfranco.com/dots_shop_images/pinkQuilt_Sandy.JPG
http://meganfranco.com/dots_shop_images/snowman_embroidery.JPG
http://meganfranco.com/dots_shop_images/springDress_dress.JPG
http://meganfranco.com/dots_shop_images/springQuilt_Dot.JPG
http://meganfranco.com/dots_shop_images/winterQuilt_Dot.JPG
-->