<!DOCTYPE html>

<html ng-app="PokeProfile">

<head>
    <title> </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles.css" />
    <meta charset="=utf-8">
</head>

<body ng-controller="MainController">
    <!-- ------------FORM------------ -->

    <form>
        <label>Enter Pokemon Number</label>
        <br>
        <input type="number" ng-model="enteredNumber">
        <br>
        <button ng-click="getNumber()">Get Pokemon</button>

    </form>

    <!-- ----------RESULT----------- -->
    <div ng-show="pokemon">
        <h1>{{ pokemon.name }}</h1>
        <h5>Attack: {{ pokemon.attack }}</h5>
        <h5>Ability: {{ pokemon.ability.name }}</h5>
        <img ng-src="{{ pokemon.sprite }}">
    </div>

    <!--    SCRIPTS     -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="main.js"></script>
    <script src="PokeServices.js"></script>
</body>

</html>