<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Log in</h1>
        <form>
            <div class="control-group">
                <label>Username</label>
                <input type="text" class="form-control" ng-model="user.username">
            </div>
            <br>
            <div class="control-group">
                <label>Password</label>
                <input type="password" class="form-control" ng-model="user.password">
            </div>
            <br>
            <button class="center-block btn btn-primary btn-lg" ng-click="login(user)">Login</button>
        </form>
    </div>
</div>