<h2>About the Breakup Bot</h2>

<div class="aboutBlurb">
    <h4>What I Learned.</h4>
    <p>Before I even wrote a line of code, I did a lot of research into bots. I looked into <a href="http://www.alicebot.org/downloads/sets.html">ALICEbot</a> and AIML files. I realized that a lot of bots are written in Python, because it has an awesome <a href="http://www.alicebot.org/downloads/sets.html">aiml package</a>, while my search for a simple npm package turned up some stuff, but not exactly what I needed. The search was a reminder that I do want to go back to learning Python, and soon.</p>
    <p>Ultimitely, I decided to keep it as simple as possible, and just wrote a simple logic file which on the backend with Node/Express. But I would love to get it to really work in real life.</p>
</div>
<div class="aboutBlurb">
    <h4>What Next?</h4>
    <p>At this moment, I don't really have the tools in my coding toolbox to get this fully functional. But I would love to work with anyone who wants to help make it better. Here's the link to the <a href="https://github.com/MeganFranco/vschool-assignments/tree/master/projects/break-up-bot">bot on github</a>feedback and suggestions are welcome!</p>
</div>
<div class="aboutBlurb">
    <h4>Why A 'Break-Up Bot'?</h4>
    <p>I started off this project with the concept of "Build something you need" in mind. I wanted to build this for a friend of mine after the second time my group of friends got together around her phone, debating the best ways to breakup with the guy she was seeing, so I figured: "Why not automate it? And I figured that an open-end 'Do Anything' project would be the perfect time to get started on it"</p>
</div>
