<div class="welcome page">
    <div class="welcome-title">
        <h2>Welcome</h2>
        <h4></h4>
        <p>A place to challange yourself to try something even if you might fail!</p>
    </div>
    
    <h3>
    <p>This application was inspired by Eric Elliott's <a class="makePink" href="https://github.com/learn-javascript-courses/rejection">rejection challenge on Github.</a> The objective is to try something every day, even if you might fail. Fails are ten points, and wins are one point. Since I'm about to really begin the job search, this would be a great way to put a positive spin on the inevitable rejections coming my way.</p>
    <p>Since this challange is great for mental health/wellbeing, I thought that I could also have another a section devoted to mental wellness. This was in part inspired by <a class="makePink" href="http://www.thedailyzen.org/">The Daily Zen.</a> I've been following The Daily Zen on Twitter and Medium, and it's always been very helpful so I decided to feature it in one of my apps as a reminder to practice some of the principles I've learned through following The Daily Zen.</p>
    </h3>
</div>
