<div class="welcome page">
    <h2>Welcome!</h2>
    <h3>
    <p>This application was inspired by Eric Elliott's <a href="https://github.com/learn-javascript-courses/rejection">rejection challenge on Github.</a> Since I'm about to really begin the job search, this would be a great way to put a positive spin on the inevitable rejections coming my way.</p>
    <p>Since this challange is great for mental health/welbeing, I thought that I could also have another a section devoted to mental wellness. This was in part inspired by <a href="http://www.thedailyzen.org/">The Daily Zen.</a> I've been following The Daily Zen on Twitter and Medium, and it's always been very helpful</p>
    </h3>
</div>
