<!DOCTYPE html>

<html ng-app="YodaSpeak">
    <head> 
        <title> </title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href=""/>
        <meta charset="=utf-8">
    </head>
    <body ng-controller="MainController"> 
    <form>
        <label>Enter a sentence</label>
        <input type=text ng-model="userSentence">
        <br>
        <button ng-click="translate()">translate</button>
    </form>
    <p>  {{ yodaSentence }} </p>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="app.js"></script> 
    </body>