<div class="zen-room page">

    <!--  carousel -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="carousel-image" src="/public/css/images/carousel1.jpg" alt="">
                <div class="carousel-caption">

                </div>
            </div>
            <div class="item">
                <img class="carousel-image" src="/public/css/images/carousel2.jpg" alt="...">
                <div class="carousel-caption">

                </div>
            </div>
            <div class="item">
                <img class="carousel-image" src="/public/css/images/carousel4.jpg" alt="...">
                <div class="carousel-caption">
                </div>
            </div>
        </div>

    </div>

</div>
<!---->
<div id="zen-content">
    <h2 id="zen-title">Zen Room</h2>
    <div id="playDiv">
        <p id="playPara">Press play to invite some nature into your virtual zen room</p>
        <div id="play-icon" audio options="options" />
    </div>
</div>
<div id="meditations">
    <div class="section-content">
        <div class="content-content">
            <h3>Meditation</h3>
            <p>Meditation has <a class="med-links" href="http://www.artofliving.org/us-en/meditation/meditation-for-you/benefits-of-meditation">many health and physical benefits.</a> It's a great way to either begin or end your day, The Daily Zen has a great <a class="med-links" href="http://www.thedailyzen.org/2015/06/28/a-10-step-guide-to-zen-meditation/">10 step guide</a> beginners. You should also check out his post <a class="med-links" href="https://medium.com/@dailyzen/meditation-for-skeptics-5fa2f2eb307a#.ozt2xoqb2">Meditation for Skeptics</a></p>
            <p>My favorite meditation is the <a class="med-links" href="http://www.buddhanet.net/metta_in.htm">Metta Meditation</a>, which can be a bit challenging. However, it only takes about 25 minutes. below are the steps:
            </p>
            <ol class="metta-list">
                <li>Visualize yourself</li>
                <li>For five minutes project, loving kindness towards yourself. </li>
                <li>When your mind wanders, repeat the mantra "May I be well, May I be happy"</li>
                <li>For the next five minutes, visualize someone in your life who you greatly respect and care for.</li>
                <li>For five minutes, project loving kindness towards this person.You can do this however you like, but many envision projecting light from themselves to the person they're visualizing.</li>
                <li>When your mind wanders, return your thoughts to that person, think "may they be well, may they be happy"</li>
                <li>Now visualize someone that you don't have any strong feelings towards. This is usually someone that you see every day, but don't really know. Think of the cashier in your cafeteria or the barista you see every morning when you get your coffee.</li>
                <li>Repeat steps five and six.</li>
                <li>Now for the hard part: envision someone with whom you've had issues.</li>
                <li>Repeat steps five and six.</li>
                <li>Visualize yourself and the three people you visualized standing in a circle, and project loving kindess around the circle. For the last five minutes, visualize the light of loving kindness expanding infinitely outwards.</li>
                </ul>
        </div>
    </div>
</div>
<div id="care">
    <div class="section-content section-care">
        <div id="care-content">
            <h3>Self-Care</h3>
            <p>Sometimes, especially if you're stuck on a tough programming problem that takes all day, it's easy to forget to take care of yourself. Remember that a well-balanced diet and a good-night's sleep can work wonders.</p>
            <p>If you're feeling particularly awful at this, there's actually a <a class="med-links" href="http://philome.la/jace_harr/you-feel-like-shit-an-interactive-self-care-guide/play">great self-care guide</a>, that will ask you a series of questions to get you back on track</p>
        </div>
    </div>
</div>
<div class="bottom">
    
</div>