<div class="zen-room page">
    <!--  carousel -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="carousel-image" src="/public/css/images/carousel1.jpg" alt="">
                <div class="carousel-caption">

                </div>
            </div>
            <div class="item">
                <img class="carousel-image" src="/public/css/images/carousel2.jpg" alt="...">
                <div class="carousel-caption">

                </div>
            </div>
            <div class="item">
                <img class="carousel-image" src="/public/css/images/carousel4.jpg" alt="...">
                <div class="carousel-caption">
                </div>
            </div>
        </div>

    </div>
    <!---->
    <div id="zen-content">
        <h2>Zen Room</h2>
        <div id="playDiv">
            <p id="playPara">Press play to invite some nature into your virtual zen room</p>
            <div audio options="options" />
        </div>
    </div>
</div>