body {
    background-color: ;
}

ul {
    list-style-type: none;
}

li{
    display: inline;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: large;
    font-family: "Helvetica Neue";
    color: navy;

}
a{
    margin-top: 40px;
    margin-bottom: 20px;  
}
li a{
    display: block;
    padding: 20px 25px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 14px 16px;
    color: navy;

}

a:hover{
    background-color: #8EC2CB;
    margin-top: 40px;
    margin-bottom: 20px; 
    padding: 14px 16px;
    border-radius: 5px;
/*    color: #8EC2CB;*/
   
}

p:hover{
    background-color: none;
}



h1{
    color: #0070B2;
}

#homepage, #about{
    margin: 0px auto;
    width: 70%;
    align-content: center;
    text-align: center;
}

#about {
    text-align: left;
    font-size: medium;
    margin-top: 35px;
    width: 85%;
}

img {
    margin-top: 30px;
    height: 180px;
    width: 200px;
}

